libs/snowv/snowv_test
libs/snowv/snowv_test_sandbox
libs/snowv/snowv_neon_test

libs/snowv/kat_output_*.txt

*.o
*.a
*.so
build/

__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

*.dat

.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo
.vscode/
.idea/

libs/liboqs/
libs/libsodium/
libs/ascon-c/
